header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--color-primary-1);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    display: inline-flex; /* Faz o ícone e o texto tratarem um ao outro como blocos flex */
    align-items: center;  /* Alinha os dois verticalmente no centro */
    gap: 10px;
    font-size: 24px;
    color: var(--color-primary-6);

}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #474747;
    font-weight: 500;
}

.nav-item.active a {
    color: #101010;
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 980px) {

   #nav_list, #navbar .btn-default {
        display: none;
    }



    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: #1f1f1f;
    }

    #mobile_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-12px);
        pointer-events: none;
        transition: max-height 0.50s ease, opacity 0.60s ease, transform 0.50s ease;
        padding-bottom: 24px;
    }

    #mobile_menu.active {
        max-height: 400px;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }


    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        padding: 0;
        width: 100%;
    }

     #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    #mobile_menu .btn-default {
        width: fit-content; 
    }

}
